
.myProgress{
    width: 100%;
    background: #ddd;
    
}

.myProgress-bar{
    width: 25%;
    height: 3px;
    background: #00FAA4;
    line-height: 30px;
    color: #fff;
}

#btnPill{
    background: #9c9c9c;
    color: #fff;
 
}


