
.myProgress{
    width: 100%;
    background: #ddd;
    
}

.myProgress-bar{
    width: 25%;
    height: 3px;
    background: #00FAA4;
    line-height: 30px;
    color: #fff;
}

#btnPill{
    background: #1D2737;
    color: #fff;
    box-shadow: -10px 2px 20px 2px rgb(105, 233, 137);
}


